<.flash_group flash={@flash} />
<div class="min-h-screen flex flex-col gap-y-2 items-center justify-center">
  <h1 class="text-4xl font-bold">bottich</h1>
  <h1 class="text-4xl font-bold">- beta -</h1>
  <p>create beautiful list of links and share them with your friends</p>
  <p><.link href={~p"/public/list/36"} class="underline">an example list</.link></p>
  <div class="h-6" />
  <.link href={~p"/users/register"} class="underline">sign up</.link>
</div>
